.page-container
{
    width: 90%;
    padding: 0.5em;
    background-color: white;
    margin: 0 auto;
}
.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}